@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Planned Derived Ventures</h1>
    <p class="lead">Web App, for planning ventures along your destination city.</p> 
    <a class="btn btn-primary btn-lg" href="@Url.Action( "Register", "Account")">Register &nbsp;<i class="fas fa-user-plus"></i></a>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Plan your Trip</h2> 
    </div>
    <div class="col-md-4 text-center">
        <h2>Save stops it to plan an Itinerary</h2> 
    </div>
    <div class="col-md-4 text-center">
        <h2>Share it with friends/family</h2> 
    </div>
</div>