
@{
    ViewBag.Title = "PrintToPdf";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<a onclick="this.setAttribute('href', 'https://v2.convertapi.com/convert/web/to/pdf?secret=OnzeCuazWwR85yKp&download=attachment&url=' + encodeURI(window.location))" href="#">
    Save page as PDF
</a>